<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Registrarse</h1>

  <form action="/register" method="post">
    <div class="form-Input">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required>
    </div>
    <div class="form-Input">
      <label for="name">Nombre:</label>
      <input type="name" name="name" id="name" required>
    </div>
    <div class="form-Input">
      <label for="surname">Apellido:</label>
      <input type="surname" name="surname" id="surname" required>
    </div>
    <div class="form-Input">
      <label for="tel">Telefono:</label>
      <input type="tel" name="tel" id="tel" required>
    </div>
    <div class="form-Input">
      <label for="address">Direccion:</label>
      <input type="text" name="address" id="address" required>
    </div>
    <div class="form-Input">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div class="form-Input">
      <label for="repeatPassword">Repetir Password:</label>
      <input type="password" name="repeatPassword" id="repeatPassword" required>
    </div>
  
    <button type="submit" class="btn-Submit"> Registrar</button>
  </form>
  <div class="links">
    <a href="/login">Siguiente Pagina</a>
  </div>
</body>
</html>