body{
    background-color: gray;
  }
  
  h1, h2, h3{
    text-align: center;
    margin-top: 20px;
  }
  
  form{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
  }
  
  .form-Input{
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  a{
    text-decoration: none;
    color: black;
    background-color: rgb(166, 151, 180);
    padding: 10px;
    border-radius: 10px;
  }
  
  .links{
    display: flex;
    justify-content: space-evenly;
    margin: 48px 0px;
  }
  
  .color{
    color: green;
  }
  
  .color-message{
    color: red;
  }

  .products-Container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-Container{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    border-top: 1px solid white;
  }
  
  .options{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #messages-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .message-Container{
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border-top: 1px white solid;
    align-items: center;
  }
  

  .btn-Submit{
    color: white;
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: blue;
  }
  
  .btnAddProduct{
    color: white;
    margin-top: 10px;
    padding: 2px 10px;
    border-radius: 10px;
    background-color: green;
  }